In [3]:
import pandas as pd
import os
import numpy as np
os.getcwd()

'/home/nnnlife/workspace/trader/notebook'

In [4]:
df = pd.read_excel('../sample_data/picker_20200320_1.xlsx')

In [5]:
df

,Unnamed: 0,time,code,tick_len,highest_profit,lowest_profit,highest_arrive_time,lowest_arrive_time,mean_profit,amount,pick_profit,profit_std,past_max_volume,volume
0,0,2020-03-20 09:00:16.525,A058110,3079,3.107020,-6.559264,18.811,282.378,-1.225608,115420070,1.875733,2.172756,3342.433333,13437
1,1,2020-03-20 09:00:28.654,A046890,231,1.421801,-0.473934,9.186,24.120,0.492399,136967400,1.421801,0.458976,1869.783333,12835
2,2,2020-03-20 09:00:39.991,A000990,274,2.215190,-1.265823,125.875,18.880,0.310681,104939950,0.632911,0.889524,1313.450000,6622
3,3,2020-03-20 09:01:04.365,A115450,457,0.000000,-5.980066,0.000,168.130,-2.408456,153078900,1.333333,1.617562,916.450000,10122
4,4,2020-03-20 09:01:12.900,A005320,212,0.000000,-10.652921,0.000,126.563,-5.094664,138990585,1.041667,2.467290,13676.333333,95801
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,112,2020-03-20 14:31:55.508,A011200,45,0.208333,-0.416667,4.381,220.497,-0.120370,124288775,0.628931,0.172853,1717.633333,51919
113,113,2020-03-20 14:31:58.939,A011200,45,0.208333,-0.416667,4.381,220.497,-0.120370,124288775,0.628931,0.172853,1717.633333,51919
114,114,2020-03-20 14:32:00.520,A011200,45,0.208333,-0.416667,4.381,220.497,-0.120370,124288775,0.628931,0.172853,1717.633333,51919
115,115,2020-03-20 14:34:04.192,A247540,207,1.032702,-0.172117,201.006,3.936,0.680153,291125200,0.689655,0.243856,860.383333,5006
116,116,2020-03-20 14:55:15.206,A047040,183,0.410678,-0.205339,235.313,10.252,0.062836,118657245,0.619835,0.180154,3082.716667,48821

In [6]:
len(df)

117

In [12]:
len(df[(df['highest_profit'] >= 1.0) & (df['highest_arrive_time'] < df['lowest_arrive_time'])])

24

In [13]:
len(df[(df['highest_profit'] >= 1.0) & (df['highest_arrive_time'] > df['lowest_arrive_time'])])

30

In [14]:
len(df[(df['highest_profit'] < 1.0) & (df['lowest_profit'] < -1.0)])

27

In [15]:
len(df[(df['highest_profit'] < 1.0) & (df['lowest_profit'] < -2.0)])

17

In [11]:
len(df[(df['highest_profit'] >= 1.0) & (df['highest_arrive_time'] > df['lowest_arrive_time']) & (df['lowest_profit'] > -1.0)])

22

In [16]:
low_first_df = df[(df['highest_profit'] >= 1.0) & (df['highest_arrive_time'] > df['lowest_arrive_time'])]

In [18]:
low_first_df['lowest_profit'].mean(), low_first_df['lowest_profit'].min()

(-0.6353995539263689, -2.325581395348837)