In [67]:
import pandas as pd
import os
import numpy as np
os.getcwd()

'/home/nnnlife/workspace/trader/notebook'

In [44]:
df = pd.read_excel('../sample_data/picker_10.xlsx')

In [45]:
df

,Unnamed: 0,time,tick_len,highest_profit,lowest_profit,highest_arrive_time,lowest_arrive_time,mean_profit,amount,pick_profit,profit_std
0,0,2020-03-12 09:00:13.483,1690,3.750000,-5.416667,5.064,234.184,-1.621302,508738900,5.032823,1.704362
1,1,2020-03-12 09:00:25.239,1577,0.281690,-2.816901,4.126,240.068,-1.553851,130226900,1.428571,0.508843
2,2,2020-03-12 09:00:36.733,7396,2.683179,-1.857585,214.462,149.392,0.404843,1097809660,1.572327,1.232663
3,3,2020-03-12 09:00:49.995,7452,4.389575,-0.823045,199.504,72.064,2.081875,846561140,1.532033,1.350124
4,4,2020-03-12 09:01:03.905,3217,0.414938,-7.468880,32.746,193.310,-3.331240,953694400,1.687764,2.234046
...,...,...,...,...,...,...,...,...,...,...,...
1652,1652,2020-03-12 15:03:59.190,287,0.226757,-0.680272,3.563,240.502,-0.307347,153005600,0.684932,0.211530
1653,1653,2020-03-12 15:04:09.945,82,0.341297,-0.682594,13.815,179.257,-0.295513,109954450,0.341297,0.295630
1654,1654,2020-03-12 15:04:21.564,198,0.000000,-0.338219,0.000,148.566,-0.204412,100574500,0.112867,0.094150
1655,1655,2020-03-12 15:04:33.510,1484,0.684932,-1.598174,79.342,204.003,-0.416467,243005080,0.344037,0.504186
1656,1656,2020-03-12 15:04:48.931,486,0.304878,-1.219512,1.501,209.629,-0.419050,154080500,0.000000,0.446813

In [46]:
def print_profits(df):
    print('len', len(df))
    print('highest', df['highest_profit'].mean(), 'mean', df['mean_profit'].mean(), 'lowest', df['lowest_profit'].mean())

In [73]:
for profit in np.linspace(0, 3, 33):
    print('*' * 10, profit)
    print_profits(df[df['pick_profit'] >= profit])
    print('-' * 10)

********** 0.0
len 1657
highest 0.6446103819749085 mean -0.037731630910121355 lowest -0.7365788252178347
----------
********** 0.09375
len 1370
highest 0.6943671754665613 mean -0.03377386423012525 lowest -0.7792408441249127
----------
********** 0.1875
len 1231
highest 0.7288801069139794 mean -0.03249260687359818 lowest -0.8108229492024844
----------
********** 0.28125
len 1090
highest 0.7752047459948017 mean -0.03173566950603207 lowest -0.8576497475588617
----------
********** 0.375
len 818
highest 0.8654875910754054 mean -0.03340820204459447 lowest -0.9445362496609354
----------
********** 0.46875
len 652
highest 0.9022863313068961 mean -0.052472885211763395 lowest -1.0081710980052252
----------
********** 0.5625
len 544
highest 0.9247259105102579 mean -0.0757451331737826 lowest -1.0820496140903164
----------
********** 0.65625
len 433
highest 0.9876828310071352 mean -0.10691042816145509 lowest -1.1784365262086285
----------
********** 0.75
len 365
highest 1.0528507146136383 mean -0.11429979966536356 lowest -1.2272596242575973
----------
********** 0.84375
len 292
highest 1.1451864944869377 mean -0.10483998742047208 lowest -1.2656915032091929
----------
********** 0.9375
len 230
highest 1.162195493009834 mean -0.15986451889857958 lowest -1.3204876850024745
----------
********** 1.03125
len 162
highest 1.0565239621583598 mean -0.3128629709629982 lowest -1.5320001122819538
----------
********** 1.125
len 139
highest 1.1398202362657557 mean -0.3271614289936691 lowest -1.600006382927036
----------
********** 1.21875
len 112
highest 1.304163965387923 mean -0.33746361813118825 lowest -1.7396885107988322
----------
********** 1.3125
len 100
highest 1.3314073348314586 mean -0.32331189676782723 lowest -1.700759858240414
----------
********** 1.40625
len 85
highest 1.3982431026107123 mean -0.3571759510513729 lowest -1.8238457741675962
----------
********** 1.5
len 71
highest 1.3493700942548428 mean -0.4340025045642591 lowest -1.8553075396233725
----------
********** 1.59375
len 46
highest 1.3674624989501247 mean -0.7312861098439118 lowest -2.2380442211870286
----------
********** 1.6875
len 31
highest 1.7921037411088678 mean -0.7931961392291812 lowest -2.5593956417735466
----------
********** 1.78125
len 24
highest 2.231904077395408 mean -0.4286271027074471 lowest -2.129592104776694
----------
********** 1.875
len 21
highest 2.147376978256266 mean -0.4727169530942516 lowest -2.0606041112709983
----------
********** 1.96875
len 20
highest 2.016948580610882 mean -0.6525721312651127 lowest -2.1448608500010065
----------
********** 2.0625
len 17
highest 2.151479815970674 mean -0.796955613510752 lowest -2.3998267911253874
----------
********** 2.15625
len 13
highest 2.5809980513810022 mean -1.0982895206718635 lowest -3.0103451000137182
----------
********** 2.25
len 10
highest 3.251248865444258 mean -0.8883685510938429 lowest -3.0733799686555545
----------
********** 2.34375
len 8
highest 4.064061081805322 mean -0.7341068579645549 lowest -3.345179192252949
----------
********** 2.4375
len 7
highest 3.770620742075281 mean -1.087482471435663 lowest -3.5819528321347747
----------
********** 2.53125
len 7
highest 3.770620742075281 mean -1.087482471435663 lowest -3.5819528321347747
----------
********** 2.625
len 6
highest 4.18985251150066 mean -0.797532871706161 lowest -3.0631848592478925
----------
********** 2.71875
len 6
highest 4.18985251150066 mean -0.797532871706161 lowest -3.0631848592478925
----------
********** 2.8125
len 5
highest 4.594805422461143 mean -1.0612315812673734 lowest -3.4322494359689193
----------
********** 2.90625
len 4
highest 4.58071608040201 mean -1.5599540350598555 lowest -3.9996141205425446
----------
********** 3.0
len 2
highest 9.16143216080402 mean -1.5153991185246345 lowest -5.472152428810721
----------

In [54]:
print_profits(df[df['pick_profit'] < 1.0])

len 1487
highest 0.5965618768387015 mean -0.009850547004976428 lowest -0.651406510560396

In [55]:
print_profits(df[df['amount'] < 250000000])

len 1334
highest 0.5776039839118255 mean -0.02301032517543682 lowest -0.6616601868871447

In [56]:
print_profits(df[df['amount'] > 250000000])

len 323
highest 0.9213488804769289 mean -0.09853107936234785 lowest -1.0459951209860716

In [57]:
print_profits(df[(df['pick_profit'] >= 1.0) & (df['amount'] > 250000000)])

len 50
highest 1.7424113144714801 mean -0.454083744772768 lowest -2.2200107858698415

In [58]:
df[df['highest_profit'] > 1.0]['highest_arrive_time'].mean()

152.7641471698113

In [59]:
df[df['highest_profit'] < 1.0]['lowest_arrive_time'].mean()

120.57433429187635

In [61]:
df[df['mean_profit'] > 1]['highest_arrive_time'].mean()

171.59041333333337

In [62]:
df[df['mean_profit'] < 0]['highest_arrive_time'].mean()

41.52186174636175

In [63]:
df[df['mean_profit'] < 0]['lowest_arrive_time'].mean()

145.63605613305614

In [64]:
df[df['mean_profit'] < 0]['highest_arrive_time'].mean()

41.52186174636175

In [76]:
high_pick_profit_df = df[df['pick_profit'] >= 1.75]

In [77]:
high_pick_profit_df

,Unnamed: 0,time,tick_len,highest_profit,lowest_profit,highest_arrive_time,lowest_arrive_time,mean_profit,amount,pick_profit,profit_std
0,0,2020-03-12 09:00:13.483,1690,3.750000,-5.416667,5.064,234.184,-1.621302,508738900,5.032823,1.704362
6,6,2020-03-12 09:01:26.061,3053,1.255230,-6.694561,10.685,171.249,-2.827180,408492900,2.564103,2.153647
7,7,2020-03-12 09:01:37.553,5805,1.418440,-6.382979,14.441,184.877,-2.748120,1578003900,1.798561,2.188395
26,26,2020-03-12 09:05:26.680,980,14.572864,-5.527638,1.751,175.879,-1.409496,538954050,8.469055,3.080608
48,48,2020-03-12 09:10:08.236,138,1.705238,-0.609013,140.065,184.635,0.623135,113240940,2.117061,0.609908
54,54,2020-03-12 09:11:19.840,2227,1.079622,-4.183536,0.002,96.002,-1.568652,188526095,1.773533,1.452840
111,111,2020-03-12 09:22:52.824,2485,2.165088,-1.217862,146.823,38.560,0.520961,521729535,2.781641,0.692095
127,127,2020-03-12 09:26:05.823,49,0.000000,-2.527076,0.000,10.625,-1.606130,130795450,2.962963,0.588299
128,128,2020-03-12 09:26:16.896,50,0.000000,-2.527076,0.000,10.625,-1.602888,130795450,2.962963,0.582828
129,129,2020-03-12 09:26:27.772,51,0.729927,-1.459854,76.501,0.002,-0.551023,128137000,2.214022,0.537807
261,261,2020-03-12 09:52:03.021,15,0.993377,0.000000,267.502,0.000,0.242826,105270500,2.027027,0.255537
262,262,2020-03-12 09:52:13.874,5988,1.777060,-2.100162,221.763,173.002,-0.021961,2284694930,1.976936,0.710559
264,264,2020-03-12 09:52:41.273,12,0.993377,0.000000,234.672,0.000,0.275938,104829550,2.020202,0.264671
294,294,2020-03-12 09:58:46.126,237,1.818182,-1.454545,76.183,206.562,0.423475,110835750,1.851852,0.707275
353,353,2020-03-12 10:10:42.451,1769,6.118143,-1.687764,297.721,30.689,1.739522,154610370,2.375810,1.768705
1044,1044,2020-03-12 12:51:16.930,2844,5.234160,0.000000,206.625,0.000,1.964650,238395540,1.820728,1.010444
1049,1049,2020-03-12 12:52:26.244,1881,4.755945,-0.375469,250.251,0.186,3.124387,107117760,1.913265,0.806450
1292,1292,2020-03-12 13:45:01.338,514,4.651163,-1.162791,265.272,33.314,0.933658,109149600,2.896082,1.429428
1392,1392,2020-03-12 14:06:25.277,1090,0.310559,-5.124224,2.064,116.941,-3.461593,558762300,2.215190,1.224332
1518,1518,2020-03-12 14:32:59.230,33,0.000000,-1.986183,0.000,206.879,-1.504684,141996800,2.294793,0.431009
1519,1519,2020-03-12 14:33:10.199,34,0.000000,-1.986183,0.000,206.879,-1.506147,141996800,2.294793,0.424706
1520,1520,2020-03-12 14:33:21.778,33,0.000000,-1.816609,0.000,200.064,-1.381462,142006800,2.206531,0.339728
1521,1521,2020-03-12 14:33:32.792,32,0.438982,-0.351185,60.125,164.378,0.046642,141555900,2.120141,0.243412
1522,1522,2020-03-12 14:33:43.665,38,0.438982,-0.351185,60.125,164.378,0.034656,141555900,2.120141,0.225678
1523,1523,2020-03-12 14:33:54.765,42,0.438982,-0.351185,60.125,164.378,0.025085,141555900,2.120141,0.216998